meta(charset='utf-8')
meta(http-equiv = "X-UA-Compatible" content = "IE=edge")
meta(name = "viewport" content = "width=device-width, initial-scale=1")
title Тестовое задание
meta(name = "description" content = "")
//link(rel = "shortcut icon" href = "img/favicon.ico" type = "image/x-icon")
// стили
link(rel = "stylesheet" href = "assets/css/uikit.css")
link(rel = "stylesheet" href = "assets/css/style.css")

link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet")

//скрипты
//script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script(src='assets/js/jquery-1.10.2.min.js')
script(src='assets/js/uikit.min.js')
//script(src='js/ofi.browser.js')

script(src='assets/js/vue.js')
script(src='assets/js/vuelidate.min.js')
script(src='assets/js/validators.min.js')
script(src='assets/js/detect-card.js')
script(src='assets/js/scripts.js')