//- Переменные

- var cssstyle = 'osnova-style.css'
- var cssstyle2 = 'style.scss'

- var phonesite = '+7 (843) 203-92-15'

-
    var gridico = {
    'm-pic4': 'Заручаетесь поддержкой профессионалов',
    'm-pic5': 'Экономите своё время',
    'm-pic6': 'Экономите свои деньги',
    'm-pic7': 'Работаете с единомышленниками',
    'm-pic8': 'Первые резюме уже через 3 дня!',
    'm-pic9': 'Бесплатная замена в течение гарантийного срока!'
    }

-
    var social = {
    'vk': 'http://vk.com/asdf',
    'fb': 'http://vk.com/asdf',
    'inst': 'http://vk.com/asdf',
    'youtube': 'http://vk.com/asdf',
    }

- var slides = ['clients1', 'clients2', 'clients3','clients4']

-
    var rubs = [
        'IT, интернет, связь, телеком',
        'Автомобильный бизнес',
        'Административный персонал',
        'Банки, инвестиции, лизинг',
        'Бухгалтерия, управленческий учет, финансы',
        'Высшимй менеджмент',
        'Домашний персонал',
        'Закупки, снабжение',
        'Логистика, склад',
        'Маркетинг, реклама, PR',
        'Медицина, фармацевтика',
        'Продажи',
        'Проектирование',
        'Производство',
        'Строительство',
        'Управление персоналом',
        'Юриспруденция'
    ]

